.container-store {
    &>.header {
        padding: 150px 0px 80px 200px;
        position: relative;

        &>p {
            color: #fff;
            font-size: 48px;
            font-weight: bold;
        }

        &>span {
            padding: 3px 240px;
            background-color: #fff;
            position: absolute;
            bottom: 107px;
        }
    }

    &>.body {
        width: 100%;
        background-color: #fff;
        display: flex;
        padding-bottom: 25px;

        &>.filter {
            width: 50%;
            padding-left: 180px;
            margin-top: 45px;

            &>.title {
                border-bottom: 1px solid #8a8a8a6b;
                padding-bottom: 20px;

                &>p {
                    color: #000;
                    font-size: 28px;
                }
            }

            &>.content {
                border-bottom: 1px solid #8a8a8a6b;
                padding-bottom: 20px;
                padding-top: 20px;

                &>div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &>p {
                        color: #000;
                        font-size: 17px;
                    }

                    &>div {
                        position: relative;
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &>span {
                            width: 11px;
                            height: 1px;
                            background-color: #000;
                            display: block;
                            position: absolute;

                            &:nth-child(2) {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
        }

        &>.products {
            padding-left: 30px;
            padding-right: 200px;

            &>.select {
                margin-top: 45px;
                margin-bottom: 30px;

                &>div {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;

                    &>input {
                        width: 25%;
                        border: 1px solid #000;
                        color: #000;
                        font-size: 17px;
                        padding: 7px 10px;
                        cursor: pointer;

                        &:focus {
                            outline: none
                        }
                    }

                    &>.arrow {
                        position: absolute;
                        right: 10px;
                        top: 12px;
                        font-size: 13px;
                        cursor: pointer;
                    }
                }

            }

            &>.cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                &>.card {
                    cursor: pointer;
                    
                    &:hover {
                        &>.img {
                     
    
                            &>img {
                                transform: scale(1.2);
                            }
                        }
                        &>.content {

                            &>button {
                                opacity: 1;
                            }
                        }
                    }

                    &>.img {
                        background-color: #ededee;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 80px 0px;

                        &>img {
                            width: 80%;
                            transition: .4s;
                        }
                    }

                    &>.content {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        padding-top: 20px;

                        &>p {
                            font-size: 16px;

                            &:nth-child(2) {
                                color: #837f7f;
                            }
                        }

                        &>button {
                            width: 100%;
                            border: none;
                            color: #fff;
                            background-color: #ff4f4f;
                            font-size: 17px;
                            padding: 7px 0px;
                            cursor: pointer;
                            transition: .3s;
                            opacity: 0;

                            &:hover {
                                opacity: .7;
                            }
                        }
                    }
                }
            }
        }
    }
}